:host {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%; /* Ensure the component spans the full width */
}

.hero-container {
  position: relative;
  background-image: url('../../assets/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 90vh; /* Limit height to 90% of the visible screen */
  width: 100%; /* Ensure the background spans the full width */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; /* Prevent any overflow */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  color: #ffffff;
  z-index: 1;
  padding: 2rem;

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}