<nav class="navbar">
  <div class="navbar-container">
    <div class="brand-title">Warstock</div>
    <button class="hamburger" (click)="toggleMenu()">
      &#9776;
    </button>
    <div class="nav-links" [class.active]="menuOpen">
      <a href="#home" class="nav-button" (click)="closeMenu()">Home</a>
      <a href="#wiki" class="nav-button" (click)="closeMenu()">Products</a>
      <a href="#cart" class="nav-button" (click)="closeMenu()">Cart</a>
      <a href="#about" class="nav-button" (click)="closeMenu()">About</a>
    </div>
  </div>
</nav>